@import "tailwindcss";
@import 'primeicons/primeicons.css';

:root {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.p-select-label {
  font-size: 14px !important;
  color: black !important;
  font-weight: lighter !important;
}

.p-select-label.p-placeholder {
  color: #7f858b !important;
  font-weight: lighter !important;
}

.p-focus {
  border-color: black !important;
}

.p-select-option {
  font-size: 14px !important;
}

.p-select-option.p-select-option-selected {
  background-color: #206DBA !important;
  color: #ffffff !important;
}

.p-select-list-container {
  max-height: 150px !important;
}

input.p-inputtext.p-component.p-select-filter {
  font-size: 13px !important;
  height: 35px !important;
}

input.p-inputtext.p-component.p-select-filter:focus {
  border-color: black !important;
}

input[type="number"] {
  text-align: right;
  -moz-appearance: textfield; /* Hide spinner in Firefox */
}

/* Hide Chrome, Safari, Edge number input spinners */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.p-select-empty-message {
  font-size: 13px !important;
}

/* --- Custom Blue Theme for PrimeVue DatePicker --- */

.p-datepicker {
  border-radius: 8px !important;
}

/* Today button highlight */
.p-datepicker-today>span {
  background-color: #e1ebf9 !important;
  /* lighter blue */
  border: 1px solid #2563eb !important;
}

/* Selected date */
.p-datepicker .p-highlight {
  background-color: #2563eb !important;
  /* blue-600 */
  color: white !important;
  border-radius: 6px !important;
}

.p-datepicker-day.p-datepicker-day-selected {
  background-color: #2563eb !important;
  /* blue-600 */
}

.p-datepicker-day.p-datepicker-day-selected-range {
  background-color: #e1ebf9 !important;
  color: black !important;
}

.p-datepicker-month.p-datepicker-month-selected {
  background-color: #2563eb !important;
  /* blue-600 */
  color: white !important;
}

.p-datepicker-year.p-datepicker-year-selected {
  background-color: #2563eb !important;
  /* blue-600 */
  color: white !important;
}


/* Range background (start/end selection) */
.p-datepicker-range-start,
.p-datepicker-range-end {
  background-color: #1d4ed8 !important;
  /* blue-700 */
  color: white !important;
}

.hidden-print {
  display: none;
}

@media print {
  .hidden-print {
    display: block;
  }
}
